/* navbar */
@media (max-width: 480px){
    .hero_container .nav_header{
        /* border: 1px solid black;  */
        width: 100%;
        padding: 10px 60px 0px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .hero_container .nav_header .toggle-button{
        display: flex;
    }

    .hero_container .nav_header .navbar{
        /* border: 1px solid black; */
        display: none;
        align-items: flex-end;
        width: 100%;
        transform: translateY(87px);
    }

    .hero_container .nav_header .navLogo{
        /* border: 1px solid black;  */
        width: 50%;
        height: 80%;
    }

    .hero_container .nav_header .navbar .navbar_links ul{
        /* border: 1px solid black; */
        width: 80%;
        align-items: flex-start;
        flex-direction: column;
        gap: 12px;
    }

    .hero_container .nav_header .navbar .numBtn_wrapper{
        /* border: 1px solid black; */
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 15px;
    }

    .hero_container .nav_header .navbar .numBtn_wrapper a{
        width: 70%;
        transform: translatex(-3px);
    }

    .hero_container .nav_header .navbar.active{
        display: flex;
    }
}


@media (max-width: 380px){
    .hero_container .nav_header{
        /* border: 1px solid black;  */
        width: 100%;
        padding: 10px 60px 0px 15px;
        display: flex;
        justify-content: space-between;
    }

    .hero_container .nav_header .toggle-button{
        display: flex;
    }

    .hero_container .nav_header .navbar{
        /* border: 1px solid black; */
        display: none;
        align-items: flex-end;
        width: 100%;
        transform: translateY(80px);
    }

    .hero_container .nav_header .navLogo{
        /* border: 1px solid black;  */
        width: 55%;
        height: 90%;
    }

    .hero_container .nav_header .navbar .navbar_links ul{
        /* border: 1px solid black;  */
        width: 80%;
        align-items: flex-start;
        flex-direction: column;
        gap: 8px;
    }

    .hero_container .nav_header .navbar .navbar_links ul li a{
        font-size: 12px;
    }

    .hero_container .nav_header .navbar .numBtn_wrapper{
        /* border: 1px solid black;  */
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        gap: 15px;
    }

    .hero_container .nav_header .navbar .numBtn_wrapper a{
        font-size: 12px;
        width: 82%;
    }

    .hero_container .nav_header .navbar .numBtn_wrapper p{
        font-size: 12px;
    }

    .hero_container .nav_header .navbar.active{
        display: flex;
    }
}



/* hero article */
@media (max-width: 480px){
    .hero_container{
        width: 100%;
        background: url(./Images/Webp/Res-Hero-Image.webp);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero_article{
        /* border: 1px solid black; */
        height: 80vh;
        display: flex;
        margin-bottom: 30px;
    }
    
    .hero_article .hero_content h1{
        /* border: 1px solid black; */
        width: 80%;
        flex-wrap: wrap;
        font-size: 36px;
        line-height: 45px;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }
    
    .hero_article .hero_content p{
        /* border: 1px solid black; */
        width: 80%;
        font-weight: 400;
        font-size: 18px;
        line-height: 125.5%;
        margin-top: 10px;
    }
    
    .hero_article .hero_content .content_btn{
        width: 150px;
        height: 45px;
        font-size: 14px;
        margin-top: 30px;
    }
    
    .hero_article .hero_content .dots{
        width: 12%;
    }
    
    .hero_article .hero_content .dots .dot{
        transform: translateY(50px);
    }
    
    .hero_article .hero_content .dots .dot1{
        transform: translateY(50px);
    }
}


@media (max-width: 380px){
    .hero_container{
        width: 100%;
        background: url(./Images/Webp/Res-Hero-Image.webp);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .hero_article{
        /* border: 1px solid black; */
        height: 80vh;
        display: flex;
    }
    
    .hero_article .hero_content h1{
        /* border: 1px solid black;  */
        width: 100%;
        flex-wrap: wrap;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 1px;
        margin-bottom: 8px;
    }
    
    .hero_article .hero_content p{
        /* border: 1px solid black; */
        width: 100%;
        font-weight: 400;
        font-size: 18px;
        line-height: 120.5%;
        margin-top: 10px;
    }
    
    .hero_article .hero_content .content_btn{
        width: 130px;
        height: 40px;
        font-size: 12px;
        margin-top: 28px;
    }
    
    .hero_article .hero_content .dots{
        width: 14%;
    }
    
    .hero_article .hero_content .dots .dot{
        transform: translateY(40px);
    }
    
    .hero_article .hero_content .dots .dot1{
        transform: translateY(40px);
    }
}


@media (max-height: 674px){
    .hero_container{
        /* border: 5px solid black; */
        height: 100vh;
    }
}



/* card section */
@media (max-width: 480px){
    .card_container{
        /* border: 1px solid black; */
        width: 100%;
        height: 100vh;
        background: #fefdfd;
        display: flex;
        align-items: flex-start;  
    }
    
    .card_container .card_wrapper{
        /* border: 1px solid black;   */
        width: 85%;
        height: 280.32px;
        margin-top: 50px;
        gap: 30px;
    }

    .card_container .card_wrapper .card{
        width: 100%;
        height: 100%; 
    }
    
    .card_container .card_wrapper .card img{
        height: 50.74px;
        width: 50.74px;
    }
    
    .card_container .card_wrapper .card h3{
        width: 80%;
        font-size: 20px;
        line-height: 22px;
    }
    
    .card_container .card_wrapper .card p{
        width: 70%;
    }
}


@media (max-width: 380px){
    .card_container .card_wrapper .card img{
        height: 42.72px;
        width: 42.72px;
    }
    
    .card_container .card_wrapper .card h3{
        width: 80%;
        font-size: 18px;
        line-height: 22px;
    }
    
    .card_container .card_wrapper .card p{
        width: 70%;
    }
}


@media (max-height: 830px){
    .card_container{
        /* border: 1px solid black; */
        height: 140vh;
    }
    
    .card_container .card_wrapper{
        /* border: 1px solid black; */
        height: 240.32px;
    }
}


@media (max-height: 745px){
    .card_container{
        /* border: 1px solid black; */
        height: 70vh;
        transform: translateY(-80px);
    }

    .card_container .card_wrapper{
        /* border: 1px solid black; */
        height: 240.32px;
    }
}


@media (max-height: 674px){
    .card_container{
        /* border: 1px solid black; */
        height: 90vh;
        transform: translateY(-130px);
    }
}


@media (max-height: 668px){
    .card_container{
        /* border: 1px solid black;  */
        height: 70vh;
        transform: translateY(-130px);
    }
}



/* service section */
@media (max-width: 480px){
    .service_container{
        /* border: 1px solid black; */
        height: 110vh;
        display: flex;
        flex-direction: column-reverse;
        gap: 40px;
        padding: 0px 0px 0px 30px;
        margin-top: 150px;
    }

    .service_container .content_wrapper{
        /* border: 1px solid black; */
        width: 100%;
        height: 100%;
        gap: 15px;
    }
    
    .service_container .content_wrapper .title{
        /* border: 1px solid black;  */
        font-size: 22px;
        line-height: 19px;
        color: #F69F3C;
    }
    
    .service_container .content_wrapper .heading{
        /* border: 1px solid black; */
        width: 80%;
        font-size: 30px;
        line-height: 45px;
    }
    
    .service_container .content_wrapper .service_article{
        /* border: 1px solid black; */
        width: 86%;   
        gap: 12px;
    }
    
    .service_container .content_wrapper .service_article p{
        font-size: 16px;
        line-height: 20px;
    }
    
    .service_container .content_wrapper .facilities_wrapper .facilities{
        /* border: 1px solid black;  */
        width: 350px;
        height: 30px;
    }
    
    .service_container .content_wrapper .facilities_wrapper .facilities img{
        width: 20.38px;
        height: 15.03px;
    }
    
    .service_container .content_wrapper .facilities_wrapper p{
        font-size: 16px;
    }
    
    .service_container .content_wrapper .service_btn{
        width: 180px;
        height: 45px;
    }
    
    .service_container .content_wrapper .service_btn a{
        font-size: 15px;
    }
    
    
    .service_container .image_wrapper{
        /* border: 1px solid black;  */
        width: 100%;
        height: 50%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
    
    .service_container .image_wrapper .images{
        /* border: 1px solid black; */
        width: 470px;
        height: 90%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 30px;
        transform: translateX(-50px);
    }
    
    .service_container .image_wrapper .images img{
        width: 48%;
        height: 130.03px;
        border-radius: 5px;
        transition: all 0.5s;
    }
}


@media (max-width: 390px){
    .service_container{
        /* border: 1px solid black; */
        height: 125vh;
    }

    .service_container .content_wrapper{
        /* border: 1px solid black;  */
        gap: 15px;
    }
    
    .service_container .content_wrapper .title{
        /* border: 1px solid black;  */
        font-size: 20px;
    }
    
    .service_container .content_wrapper .heading{
        /* border: 1px solid black; */
        width: 100%;
        font-size: 25px;
        line-height: 40px;
    }
    
    .service_container .content_wrapper .service_article{
        /* border: 1px solid black; */
        width: 90%;   
        gap: 12px;
    }
    
    .service_container .content_wrapper .service_article p{
        font-size: 15px;
        line-height: 18px;
    }
    
    .service_container .content_wrapper .facilities_wrapper .facilities{
        /* border: 1px solid black;  */
        width: 350px;
        height: 30px;
    }
    
    .service_container .content_wrapper .facilities_wrapper .facilities img{
        width: 18.38px;
        height: 12.03px;
    }
    
    .service_container .content_wrapper .facilities_wrapper p{
        font-size: 15px;
    }
    
    .service_container .content_wrapper .service_btn{
        width: 150px;
        height: 40px;
    }
    
    .service_container .content_wrapper .service_btn a{
        font-size: 15px;
    }
    
    
    .service_container .image_wrapper{
        /* border: 1px solid black;  */
        width: 100%;
        height: 52%;
        margin-top: 30px;
    }
    
    .service_container .image_wrapper .images{
        /* border: 1px solid black;  */
        height: 100%;
        gap: 10px;
        margin-top: 0px;
    }
    
    .service_container .image_wrapper .images img{
        width: 100%;
        height: 150.03px;
    }
}


@media (max-height: 830px){
    .service_container{
        /* border: 1px solid black; */
        height: 125vh;
        transform: translateY(-150px);
    }
}


@media (max-height: 785px){
    .service_container{
        /* border: 1px solid black; */
        height: 170vh;
    }
}


@media (max-height: 745px){
    .service_container{
        /* border: 1px solid black;  */
        height: 180vh;
        transform: translateY(150px);
    }

    .service_container .content_wrapper .heading{
        /* border: 1px solid black; */
        width: 70%;
        font-size: 25px;
        line-height: 40px;
    }

    .service_container .content_wrapper .service_article{
        /* border: 1px solid black; */
        width: 85%;   
        gap: 12px;
    }
}


@media (max-height: 674px){
    .service_container{
        /* border: 1px solid black; */
        height: 195vh;
        transform: translateY(150px);
    }
}




/* highlighted section */
@media (max-width: 480px){
    .highlighted_container{
        /* border: 1px solid black; */
        width: 100%;
        height: 130vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    
    .highlighted_container .highlighted_wrapper{
        /* border: 1px solid black;  */
        width: 85%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 60px;
    }
    
    .highlighted_container .highlighted_wrapper .image_wrapper{
        width: 100%;
        height: 100%;
    }
    
    .highlighted_container .highlighted_wrapper .image_wrapper img{
        width: 100%;
        height: 100%;
    }
    
    .highlighted_container .highlighted_wrapper .highlighted_article{
        /* border: 1px solid black; */
        width: 100%;
        gap: 25px;
    }
    
    .highlighted_container .highlighted_wrapper .highlighted_article h3{
        /* border: 1px solid black; */
        width: 80%;
        font-size: 30px;
        line-height: 40px;
    }
    
    .highlighted_container .highlighted_wrapper .highlighted_article p{
        /* border: 1px solid black; */
        width: 100%;
        font-weight: 500;
        font-size: 18px;
        line-height: 127.5%;
    }
    
    .highlighted_container .highlighted_wrapper .highlighted_article .records_wrapper{
        /* border: 1px solid black; */
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .highlighted_container .highlighted_wrapper .highlighted_article .records_wrapper .records{
        /* border: 1px solid black;  */
        width: 60%;
    }
    
    .highlighted_container .highlighted_wrapper .highlighted_article .records_wrapper .records h2{
        font-family: 'Taviraj';
        font-weight: 500;
        font-size: 35px;
        line-height: 127.5%;
        letter-spacing: 0.1em;
        color: #000000;
    }
    
    .highlighted_container .highlighted_wrapper .highlighted_article .records_wrapper .records span{
        font-family: 'Josefin Sans';
        font-weight: 500;
        font-size: 18px;
    }
}


@media (max-height: 830px){
    .highlighted_container{
        /* border: 1px solid black; */
        height: 140vh;
        transform: translateY(-150px);
    }
}


@media (max-height: 745px){
    .highlighted_container{
        /* border: 1px solid black; */
        height: 160vh;
        transform: translateY(150px);
    }

    .highlighted_container .highlighted_wrapper .highlighted_article h3{
        /* border: 1px solid black;  */
        width: 100%;
        font-size: 30px;
        text-align: center;
    }
}


@media (max-height: 674px){
    .highlighted_container{
        /* border: 1px solid black; */
        height: 160vh;
        transform: translateY(150px);
    }
}



/* aboutUs section */
@media (max-width: 480px){
    .aboutUs_container{
        /* border: 1px solid black; */
        width: 100%;
        height: 70vh;
    }
    
    .aboutUs_container .aboutUS_wrapper{
        /* border: 1px solid black; */
        width: 90%;
        gap: 20px;
    }
    
    .aboutUs_container .aboutUS_wrapper .about_title{
        font-weight: 600;
        font-size: 20.0426px;
    }
    
    .aboutUs_container .aboutUS_wrapper .about_heading{
        /* border: 1px solid black;  */
        width: 75%;
        font-size: 35px;
        line-height: 50px;
    }
    
    .aboutUs_container .aboutUS_wrapper .about_para{
        /* border: 1px solid black;  */
        width: 75%;
        font-weight: 500;
        font-size: 18px;
        line-height: 20px;
    }
    
    .aboutUs_container .aboutUS_wrapper .video{
        /* border: 1px solid black;  */
        width: 87%;
        height: 250px;
        margin-top: 20px;
    }
    
    .aboutUs_container .aboutUS_wrapper .video img{
        width: 40px;
        height: 40px;
    }
}


@media (max-width: 370px){
    .aboutUs_container{
        /* border: 1px solid black; */
        height: 60vh;
    }

    .aboutUs_container .aboutUS_wrapper .about_heading{
        /* border: 1px solid black;   */
        width: 80%;
        font-size: 30px;
        line-height: 40px;
    }
    
    .aboutUs_container .aboutUS_wrapper .about_para{
        /* border: 1px solid black;  */
        width: 80%;
        font-size: 20px;
    }
    
    .aboutUs_container .aboutUS_wrapper .video{
        border: 1px solid black; 
        width: 90%;
        height: 200px;
        margin-top: 10px;
    }
}


@media (max-height: 830px){
    .aboutUs_container{
        /* border: 1px solid black; */
        height: 90vh;
        transform: translateY(-150px);
    }
}


@media (max-height: 745px){
    .aboutUs_container{
        /* border: 1px solid black; */
        height: 80vh;
        transform: translateY(150px);
    }
}


@media (max-height: 674px){
    .aboutUs_container{
        /* border: 1px solid black; */
        height: 90vh;
        transform: translateY(150px);
    }

    .aboutUs_container .aboutUS_wrapper .about_heading{
        /* border: 1px solid black;  */
        width: 90%;
        font-size: 30px;
        line-height: 40px;
    }

    .aboutUs_container .aboutUS_wrapper .about_para{
        /* border: 1px solid black;   */
        width: 90%;
        font-weight: 500;
    }

    .aboutUs_container .aboutUS_wrapper .video{
        /* border: 1px solid black;  */
        width: 100%;
        height: 250px;
        margin-top: 10px;
    }
}



/* Contact section */
@media (max-width: 480px){
    .contact_container{
        /* border: 1px solid black; */
        width: 100%;
        height: 150vh;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .contact_container .contact_article{
        /* border: 1px solid black; */
        width: 100%;
        height: 50vh;
    }
    
    .contact_container .contact_article .article_wrapper{
        /* border: 1px solid black; */
        width: 85%;
        height: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    
    .contact_container .contact_article .article_wrapper .contact_heading{
        /* border: 1px solid black;  */
        width: 100%;
        font-size: 40px;
        line-height: 50px;
        letter-spacing: 2px;
    }
    
    .contact_container .contact_article .article_wrapper .contact_para{
        /* border: 1px solid black; */
        width: 100%;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.03em;
    }

    .contact_container .contact_form{
        /* border: 1px solid black; */
        width: 100%;
        height: 100vh;
        padding: 20px;
        gap: 10px;
    }
    
    .contact_container .contact_form .details{
        /* border: 1px solid black;  */
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 50px;
        padding: 0px 0px 0px 0px;
    }
    
    .contact_container .contact_form .details .input_details{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .contact_container .contact_form .details .input_details label{
        width: 100%;
        font-size: 18px;
        letter-spacing: 0.08em;
    }
    
    .contact_container .contact_form .details .input_details label span{
        font-size: 23px;
    }
    
    .contact_container .contact_form .details textarea{
        width: 100% !important;
        font-size: 18px;
    }
    
    .contact_container .contact_form .contact_btn{
        width: 50%;
        height: 8%;
    }
    
    .contact_container .contact_form .contact_btn input{
        width: 100%;
        height: 100%;
        background: transparent;
        font-size: 18px;
    }
}


@media (max-height: 830px){
    .contact_container{
        /* border: 3px solid black; */
        height: 155vh;
        transform: translateY(-150px);
    }
}


@media (max-height: 745px){
    .contact_container{
        /* border: 3px solid black;  */
        height: 160vh;
        transform: translateY(150px);
    }

    .contact_container .contact_form{
        width: 90%;
        height: 80%;
        padding: 10px 0px 0px 20px;
    }

    .contact_container .contact_form .contact_btn{
        height: 5%;
    }

}


@media (max-height: 674px){
    .contact_container{
        /* border: 3px solid black; */
        height: 185vh;
        transform: translateY(150px);
        gap: 10px;
    }
}



/* footer section */
@media (max-width: 480px){
    footer{
        /* border: 1px solid black; */
        width: 100%;
        height: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
    }
    
    footer .copyright{
        /* border: 1px solid black;  */
        width: 50%;
        font-size: 20px;
        text-align: center;
        transform: translateY(140px);
    }
    
    footer .footer_logo{
        /* border: 1px solid black;  */
        width: 35%;
        height: 65%;
        transform: translateY(-50px);
    }

    footer .footer_logo img{
        width: 100%;
        height: 100%;
    }
    
    footer .privacy{
        /* border: 1px solid black; */
        width: 80%;
        font-size: 18px;
        text-align: center;
        transform: translateY(-10px);
    }
}


@media (max-height: 830px){
    footer{
        /* border: 1px solid black; */
        height: 30vh;
        transform: translateY(-150px);
    }
}


@media (max-height: 745px){
    footer{
        /* border: 1px solid black; */
        height: 35vh;
        transform: translateY(150px);
    }
}


@media (max-height: 674px){
    footer{
        /* border: 1px solid black; */
        height: 35vh;
        transform: translateY(150px);
    }
}